- { service_name: microsample,
  service_host: 0.0.0.0,
  service_port: 8080,
  service_options: [mode http, balance leastconn, http-check expect rstring ^Online$],
  servers: [[microsample_unit_{{unitid}}, {{address}}, {{port}}, check]]}
